{% extends 'base.html' %}

{% load static %}

{% block herencia %}

<header class="bs-primary" style="background-color: #13356d; py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-lg-6 text-center">
          <h1 class="display-4 text-white mb-3" style="text-shadow: 2px 2px 4px #000000; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #ffffff;">Bienvenidos a Super Bold Coffee Roasters</h1>
          <p class="lead text-white mb-4" style="text-shadow: 1px 1px 2px #000000;">Tu lugar favorito para venir a relajarte</p>
        </div>
      </div>
    </div>
  </header>
 
  

<!-- Types of drinks section -->
<section id="menu" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">licuado</h2>
                        <p class="card-text">Puedes elegir un rico licuado de frutas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">cafe</h2>
                        <p class="card-text">Prueba nuestro café en granos de la mejor calidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">cocacola</h2>
                        <p class="card-text">Resfrescate con una rica cocacola.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services section -->
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">licuado</h2>
                        <p class="card-text">Seleccionamos la mejor fruta para que no pierda calidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">cafe</h2>
                        <p class="card-text">Disfruta del mejor cafe internacional.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Personal amable</h2>
                        <p class="card-text">Los empleados siempre a disposición para que puedas pasar un buen momento.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock herencia %}
